/* Styling yang berlaku di semua halaman */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Hero Section untuk Halaman Home Pengunjung */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/background.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
}

/* Ikon Fitur di Halaman Home Pengunjung */
.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
}