/* ================================== */
/* ATURAN UMUM PROFIL        */
/* ================================== */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}


/* ================================== */
/* KHUSUS PROFIL ADMIN         */
/* ================================== */

/* Menggunakan selector yang lebih spesifik jika diperlukan */
.profile-admin-page .profile-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #dee2e6;
}

.stat-icon {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}


/* ================================== */
/* KHUSUS PROFIL USER         */
/* ================================== */

.profile-user-page .profile-picture {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.history-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}