/* body{
    background-image: url('../img/cek.jpg');
    background-size: cover;
} */
 /* Sembunyikan scrollbar untuk Chrome, Safari dan Opera */
/* Menghilangkan scrollbar utama di body */
:root::-webkit-scrollbar {
    display: none;
}

:root {
  -ms-overflow-style: none;  /* Untuk IE dan Edge */
  scrollbar-width: none;     /* Untuk Firefox */
}